p {
  color: chocolate;
  background-color: blanchedalmond;
margin: 0;
}

body{
    margin: 0;
  background-color: blanchedalmond;
}

h1 {
   color: black;
    
}

img{
    width: 140;
    margin: auto;
    display: block;
  
}